
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MediDove - Medical and Health HTML5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.png in the root directory -->

    <!-- CSS here -->

    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/animate.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/nice-select.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/meanmenu.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/slick.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/default.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/responsive.css')}}">
</head>

<body>

    <!-- header begin -->
    <header>

        <!-- menu-area -->
        <div class="header-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-5 d-flex align-items-center">
                        <div class="logo logo-circle pos-rel">
                            <a href="index.html"><img src="img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9">
                        
                        <div class="header__menu f-right">
                            <nav id="mobile-menu">
                                <ul>
                                    <ul>
                                        <li><a href="{{url_for('Home')}}">Home</a> </li>
                                        <li><a href="{{url_for('about')}}">About</a></li>
                                        <li><a href="{{url_for('services')}}">Services</a></li>
                                        <li><a href="{{url_for('gallery')}}">Gallery</a></li>
                                        <li><a href="{{url_for('contact')}}">Contact Us</a> </li>
                                    </ul>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->

    <main>
        <!-- hero-area start -->
        <section class="breadcrumb-bg pt-200 pb-180" data-background="{{url_for('static',filename='images/page-bg.jpg')}}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9">
                        <div class="page-title">
                            <p class="small-text pb-15">We are here for your care.</p>
                            <h1>Gallery</h1>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 d-flex justify-content-start justify-content-md-end align-items-center">
                        <div class="page-breadcumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Gallery</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- hero-area end -->

        <!-- START PORTFOLIO DESIGN AREA -->
        <section class="portfolio-area pt-120 pb-90">
            <div class="container">
                <div class="row">
                    <!-- START PORTFOLIO FILTER AREA -->
                    <div class="col-12">
                        <div class="text-center">
                            <div class="portfolio-filter mb-40">
                                <button class="active" data-filter="*">Show all</button>
                                <button data-filter=".cat1">Dental</button>
                                <button data-filter=".cat2">Care</button>
                                <button data-filter=".cat3">Medical</button>
                                <button data-filter=".cat4">Surgery</button>
                            </div>
                        </div>
                    </div>
                    <!-- END PORTFOLIO FILTER AREA -->
                </div>
                <div id="portfolio-grid" class="row row-portfolio">
                    <div class="col-lg-4 col-md-6 grid-sizer"></div>
                    <div class="col-lg-4 col-md-6 grid-item cat2 cat4">
                        <div class="portfolio-item mb-30">
                            <div class="portfolio-wrapper">
                                <div class="portfolio-image">
                                    <img src="img/portfolio/port1.jpg" alt="" />
                                    <div class="view-icon">
                                        <a class="popup-image" href="img/portfolio/port1.jpg">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="portfolio-caption">
                                    <h4>Awesome Doctor</h4>
                                    <p>Medical</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 grid-item cat3 cat1">
                        <div class="portfolio-item mb-30">
                            <div class="portfolio-wrapper">
                                <div class="portfolio-image">
                                    <img src="img/portfolio/port2.jpg" alt="" />
                                    <div class="view-icon">
                                        <a class="popup-image" href="img/portfolio/port2.jpg">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="portfolio-caption">
                                    <h4>Awesome Doctor</h4>
                                    <p>Medical</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 grid-item cat4 cat3">
                        <div class="portfolio-item mb-30">
                            <div class="portfolio-wrapper">
                                <div class="portfolio-image">
                                    <img src="img/portfolio/port3.jpg" alt="" />
                                    <div class="view-icon">
                                        <a class="popup-image" href="img/portfolio/port3.jpg">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="portfolio-caption">
                                    <h4>Awesome Doctor</h4>
                                    <p>Medical</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 grid-item cat1 cat4">
                        <div class="portfolio-item mb-30">
                            <div class="portfolio-wrapper">
                                <div class="portfolio-image">
                                    <img src="img/portfolio/port4.jpg" alt="" />
                                    <div class="view-icon">
                                        <a class="popup-image" href="img/portfolio/port4.jpg">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="portfolio-caption">
                                    <h4>Awesome Doctor</h4>
                                    <p>Medical</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 grid-item cat2 cat1">
                        <div class="portfolio-item mb-30">
                            <div class="portfolio-wrapper">
                                <div class="portfolio-image">
                                    <img src="img/portfolio/port5.jpg" alt="" />
                                    <div class="view-icon">
                                        <a class="popup-image" href="img/portfolio/port5.jpg">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="portfolio-caption">
                                    <h4>Awesome Doctor</h4>
                                    <p>Medical</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 grid-item cat4 cat1">
                        <div class="portfolio-item mb-30">
                            <div class="portfolio-wrapper">
                                <div class="portfolio-image">
                                    <img src="img/portfolio/port6.jpg" alt="" />
                                    <div class="view-icon">
                                        <a class="popup-image" href="img/portfolio/port6.jpg">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="portfolio-caption">
                                    <h4>Awesome Doctor</h4>
                                    <p>Medical</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- / END PORTFOLIO DESIGN AREA -->

    </main>

    <!-- footer start -->
    <footer>
        <div class="footer-top primary-bg footer-map pos-rel pt-120 pb-80">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="footer-contact-info footer-contact-info-3 mb-40">
                            <div class="footer-logo mb-35">
                                <a href="#"><img src="img/logo/footer-logo-3.png" alt=""></a>
                            </div>
                            <div class="footer-contact-content mb-25">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
                            </div>
                            <div class="footer-emailing">
                                <ul>
                                    <li><i class="far fa-envelope"></i><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d2bbbcb4bd92b7aab3bfa2beb7bfb7b6bbb1b3befcb1bdbf">[email&#160;protected]</a></li>
                                    <li><i class="far fa-clone"></i>examplemedical.com</li>
                                    <li><i class="far fa-flag"></i>227 Marion Street, Columbia</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="footer-widget mb-40">
                            <div class="footer-title">
                                <h3>Departments</h3>
                            </div>
                            <div class="footer-menu footer-menu-2">
                                <ul>
                                    <li><a href="#">Surgery and Radiology</a></li>
                                    <li><a href="#">Departments</a></li>
                                    <li><a href="#">Family Medicine</a></li>
                                    <li><a href="#">Our Doctors</a></li>
                                    <li><a href="#">Women’s Health</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Optician</a></li>
                                    <li><a href="#">Shop</a></li>
                                    <li><a href="#">Pediatrics</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Dermatology</a></li>
                                    <li><a href="#">Book an Appointment</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="footer-widget mb-40">
                            <div class="footer-title">
                                <h3>News Feeds</h3>
                            </div>
                            <div class="blog-feeds pr-15">
                                <div class="signle-blog-feeds mb-20">
                                    <div class="blog-feeds-thumb">
                                        <a href="news-details.html"><img src="img/blog/feeds-thumb-1.jpg" alt=""></a>
                                    </div>
                                    <div class="blog-feeds-text">
                                        <h5><a href="news-details.html">Lorem ipsum dolor sit am et, consectetur.</a></h5>
                                        <span class="feeds-date">14 July 2019</span>
                                    </div>
                                </div>
                                <div class="signle-blog-feeds mb-20">
                                    <div class="blog-feeds-thumb">
                                        <a href="news-details.html"><img src="img/blog/feeds-thumb-2.jpg" alt=""></a>
                                    </div>
                                    <div class="blog-feeds-text">
                                        <h5><a href="news-details.html">Lorem ipsum dolor sit am et, consectetur.</a></h5>
                                        <span class="feeds-date">14 July 2019</span>
                                    </div>
                                </div>
                                <div class="signle-blog-feeds  mb-20">
                                    <div class="blog-feeds-thumb">
                                        <a href="news-details.html"><img src="img/blog/feeds-thumb-3.jpg" alt=""></a>
                                    </div>
                                    <div class="blog-feeds-text">
                                        <h5><a href="news-details.html">Lorem ipsum dolor sit am et, consectetur.</a></h5>
                                        <span class="feeds-date">14 July 2019</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom pt-25 pb-20">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="footer-copyright footer-copyright-3 text-center">
                            <p>Copyright by@ BasicTheme - 2019</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <!-- JS here -->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="{{url_for('static',filename='js/modernizr-3.5.0.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery-1.12.4.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/owl.carousel.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/isotope.pkgd.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/one-page-nav-min.js')}}"></script>
    <script src="{{url_for('static',filename='js/slick.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/ajax-form.js')}}"></script>
    <script src="{{url_for('static',filename='js/wow.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.nice-select.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.scrollUp.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.meanmenu.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.counterup.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/waypoints.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/imagesloaded.pkgd.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/plugins.js')}}"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>

</html>
