
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MediDove - Medical and Health HTML5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.png in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/animate.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/nice-select.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/meanmenu.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/slick.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/default.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/responsive.css')}}">
</head>

<body>

    <!-- header begin -->
    <header>

        <!-- menu-area -->
        <div class="header-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-5 d-flex align-items-center">
                        <div class="logo logo-circle pos-rel">
                            <a href="index.html"><img src="img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9">
                        
                        <div class="header__menu f-right">
                            <nav id="mobile-menu">
                                <ul>
                                    <li><a href="index.html">Home</a>
                                        <ul class="submenu">
                                            <li><a href="index.html">Home style 1</a></li>
                                            <li><a href="index-2.html">Home style 2</a></li>
                                            <li><a href="index-3.html">Home style 3</a></li>
                                            <li><a href="index-4.html">Home style 4</a></li>
                                            <li><a href="index-5.html">Home style 5</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="services.html">Department</a>
                                        <ul class="submenu">
                                            <li><a href="services.html">Services 01</a></li>
                                            <li><a href="services-2.html">Services 02</a></li>
                                            <li><a href="services-details.html">Services Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="doctor.html">Doctors</a>
                                        <ul class="submenu">
                                            <li><a href="doctor.html">Doctors 01</a></li>
                                            <li><a href="doctor-2.html">Doctors 02</a></li>
                                            <li><a href="doctor-details.html">Doctors Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop.html">Shop</a>
                                        <ul class="submenu">
                                            <li><a href="shop.html">Shop Page</a></li>
                                            <li><a href="product-details.html">Shop Details</a></li>
                                            <li><a href="cart.html">Shopping Cart</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="wishlist.html">Wishlist</a></li>
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="register.html">Register</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="blog.html">News</a>
                                        <ul class="submenu">
                                            <li><a href="blog.html">Blog Right Sidebar</a></li>
                                            <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                            <li><a href="blog-no-sidebar.html">Blog No Sidebar</a></li>
                                            <li><a href="blog-2-col.html">Blog 2 Column</a></li>
                                            <li><a href="blog-2-col-mas.html">Blog 2 Col Masonry</a></li>
                                            <li><a href="blog-3-col.html">Blog 3 Column</a></li>
                                            <li><a href="blog-3-col-mas.html">Blog 3 Col Masonry</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                            <li><a href="blog-details-left-sidebar.html">Details Left Sidebar</a></li>
                                            <li><a href="blog-details-audio.html">Details Audio</a></li>
                                            <li><a href="blog-details-video.html">Details Video</a></li>
                                            <li><a href="blog-details-gallery.html">Details Gallery</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Pages</a>
                                        <ul class="submenu">
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="appoinment.html">Appoinment</a></li>
                                            <li><a href="portfolio-2-col.html">Portfolio 2 column</a></li>
                                            <li><a href="portfolio.html">Portfolio 3 column</a></li>
                                            <li><a href="portfolio-slider.html">Portfolio Slider</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->

    <main>
        <!-- hero-area start -->
        <section class="hero-area">
            <div class="hero-slider">
                <div class="slider-active">
                    <div class="single-slider slider-height d-flex align-items-center" data-background="{{url_for('static',filename='images/slider-bg-1.jpg')}}">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-6 col-lg-8 col-md-10">
                                    <div class="hero-text">
                                        <div class="hero-slider-caption ">
                                            <h5 data-animation="fadeInUp" data-delay=".2s">We are here for your care.</h5>
                                            <h1 data-animation="fadeInUp" data-delay=".4s">Best Care & Better Doctor.</h1>
                                            <p data-animation="fadeInUp" data-delay=".6s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                        <div class="hero-slider-btn">
                                            <a data-animation="fadeInLeft" data-delay=".6s" href="appoinment.html" class="btn btn-icon ml-0"><span>+</span>Make Appointment</a>
                                            <a data-animation="fadeInRight" data-delay="1.0s" href="https://www.youtube.com/watch?v=eXQgPCsd83c" class="play-btn popup-video"><i class="fas fa-play"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slider slider-height d-flex align-items-center" data-background="{{url_for('static',filename='images/slider-bg-2in1.jpg')}}">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-6 col-lg-8 col-md-10">
                                    <div class="hero-text">
                                        <div class="hero-slider-caption ">
                                            <h5 data-animation="fadeInUp" data-delay=".2s">We are here for your care.</h5>
                                            <h1 data-animation="fadeInUp" data-delay=".4s">Best Care & Better Doctor.</h1>
                                            <p data-animation="fadeInUp" data-delay=".6s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                        <div class="hero-slider-btn">
                                            <a data-animation="fadeInLeft" data-delay=".6s" href="appoinment.html" class="btn btn-icon ml-0"><span>+</span>Make Appointment</a>
                                            <a data-animation="fadeInRight" data-delay="1.0s" href="https://www.youtube.com/watch?v=eXQgPCsd83c" class="play-btn popup-video"><i class="fas fa-play"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- hero-area end -->
        <!-- about-area start -->
        <section class="about-area pt-120 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-5 slide-right">
                        <div class="medical-icon-brand-2">
                            <img src="img/about/medical-brand-icon-border.png" alt="">
                        </div>
                        <div class="about-left-side pos-rel mb-30">
                            <div class="about-front-img">
                                <img src="{{url_for('static',filename='images/about-img.jpg')}}" alt="">
                            </div>
                            <div class="about-shape">
                                <img src="{{url_for('static',filename='img/about/about-shape.png')}}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7 slide-left">
                        <div class="about-right-side pt-55 mb-30">
                            <div class="about-title mb-20">
                                <h5>About Us</h5>
                                <h1>Short Story About MediDove Clinic.</h1>
                            </div>
                            <div class="about-text">
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><br>
                            </div>
                            <div class="about-author d-flex align-items-center">
                                <div class="author-ava">
                                    <img src="img/about/author-ava.png" alt="">
                                </div>
                                <div class="author-desination">
                                    <h4>Rosalina D. Williamson</h4>
                                    <h6>founder</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <style>
            /* Add this CSS to your existing styles */
            .slide-left {
              opacity: 0;
              transform: translateX(-50px);
              transition: opacity 1s, transform 1s;
            }
        
            .slide-right {
              opacity: 0;
              transform: translateX(50px);
              transition: opacity 1s, transform 3s;
            }
        
            .show {
              opacity: 1;
              transform: translateX(0);
            }
          </style>
          <script>
            document.addEventListener('DOMContentLoaded', function () {
              // Get the elements to be animated
              const leftElement = document.querySelector('.col-xl-6.col-lg-5');
              const rightElement = document.querySelector('.col-xl-6.col-lg-7');
        
              // Function to handle the animation
              function handleAnimation() {
                const windowHeight = window.innerHeight;
                const leftElementTop = leftElement.getBoundingClientRect().top;
                const rightElementTop = rightElement.getBoundingClientRect().top;
        
                // Check if the elements are in the viewport
                if (leftElementTop < windowHeight && leftElementTop > 0) {
                  leftElement.classList.add('show');
                }
        
                if (rightElementTop < windowHeight && rightElementTop > 0) {
                  rightElement.classList.add('show');
                }
              }
        
              // Add scroll event listener to trigger the animation
              document.addEventListener('scroll', handleAnimation);
        
              // Initial check in case elements are already in the viewport
              handleAnimation();
            });
          </script>
        <!-- about-area end -->
        <!-- services-area start -->
        <section class="servcies-area gray-bg pt-115 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                        <div class="section-title text-center pos-rel mb-75">
                            <div class="section-icon">
                                <img class="section-back-icon" src="img/section/section-back-icon.png" alt="">
                            </div>
                            <div class="section-text pos-rel">
                                <h5>Departments</h5>
                                <h1>Managed Your Heathcare Services</h1>
                            </div>
                            <div class="section-line pos-rel">
                                <img src="img/shape/section-title-line.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="service-box text-center mb-30">
                            <div class="service-thumb">
                                <img src="img/services/service1.png" alt="">
                            </div>
                            <div class="service-content">
                                <h3><a href="#">Body Surgery</a></h3>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                <a class="service-link" href="services-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="service-box text-center mb-30">
                            <div class="service-thumb">
                                <img src="img/services/service2.png" alt="">
                            </div>
                            <div class="service-content">
                                <h3><a href="#">Dental Care</a></h3>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                <a class="service-link" href="services-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="service-box text-center mb-30">
                            <div class="service-thumb">
                                <img src="img/services/service3.png" alt="">
                            </div>
                            <div class="service-content">
                                <h3><a href="#">Eye Care</a></h3>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                <a class="service-link" href="services-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="service-box text-center mb-30">
                            <div class="service-thumb">
                                <img src="img/services/service4.png" alt="">
                            </div>
                            <div class="service-content">
                                <h3><a href="#">Blood Cancer</a></h3>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                <a class="service-link" href="services-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="service-box text-center mb-30">
                            <div class="service-thumb">
                                <img src="img/services/service5.png" alt="">
                            </div>
                            <div class="service-content">
                                <h3><a href="#">Neurology Sargery</a></h3>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                <a class="service-link" href="services-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="service-box text-center mb-30">
                            <div class="service-thumb">
                                <img src="img/services/service6.png" alt="">
                            </div>
                            <div class="service-content">
                                <h3><a href="#">Allergic Issue</a></h3>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                <a class="service-link" href="services-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <style>
            /* Add this CSS to your existing styles */
            .col-xl-4.col-lg-6.col-md-6 {
              opacity: 0;
              transform: translateY(20px);
              transition: opacity 2s, transform 2s;
            }
        
            .col-xl-4.col-lg-6.col-md-6.visible {
              opacity: 1;
              transform: translateY(0);
            }
          </style>
        </head>
        <body>
        
          <!-- Your existing HTML code -->
        
          <script>
            document.addEventListener('DOMContentLoaded', function () {
              // Get all service box containers
              const serviceContainers = document.querySelectorAll('.col-xl-4.col-lg-6.col-md-6');
        
              // Function to handle the animation
              function handleAnimation() {
                serviceContainers.forEach((container, index) => {
                  const containerTop = container.getBoundingClientRect().top;
                  const windowHeight = window.innerHeight;
        
                  // Check if the container is in the viewport
                  if (containerTop < windowHeight) {
                    // Introduce a delay based on the index
                    setTimeout(() => {
                      container.classList.add('visible');
                    }, index * 200); // Adjust the delay (in milliseconds) as needed
                  }
                });
              }
        
              // Add scroll event listener to trigger the animation
              document.addEventListener('scroll', handleAnimation);
        
              // Initial check in case containers are already in the viewport
              handleAnimation();
            });
          </script>
        <!-- services-area end -->
        <!-- team-area start -->
        <section class="team-area pt-115 pb-55">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 col-md-10">
                        <div class="section-title pos-rel mb-75">
                            <div class="section-icon">
                                <img class="section-back-icon back-icon-left" src="img/section/section-back-icon.png" alt="">
                            </div>
                            <div class="section-text pos-rel">
                                <h5>Our Team</h5>
                                <h1>A Professional & Care Provider</h1>
                            </div>
                            <div class="section-line pos-rel">
                                <img src="img/shape/section-title-line.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-5">
                        <div class="section-button text-right d-none d-lg-block pt-80">
                            <a data-animation="fadeInLeft" data-delay=".6s" href="appoinment.html" class="btn btn-icon ml-0"><span>+</span>Make Appointment</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-box text-center mb-60">
                            <div class="team-thumb mb-45 pos-rel">
                                <img src="img/team/member1.png" alt="">
                                <a class="team-link" href="doctor-details.html">+</a>
                            </div>
                            <div class="team-content">
                                <h3>Rosalina D. Williamson</h3>
                                <h6>Founder</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-box text-center mb-60">
                            <div class="team-thumb mb-45 pos-rel">
                                <img src="img/team/member2.png" alt="">
                                <a class="team-link" href="doctor-details.html">+</a>
                            </div>
                            <div class="team-content">
                                <h3>Diconda PIran Will</h3>
                                <h6>dentist</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-box text-center mb-60">
                            <div class="team-thumb mb-45 pos-rel">
                                <img src="img/team/member3.png" alt="">
                                <a class="team-link" href="doctor-details.html">+</a>
                            </div>
                            <div class="team-content">
                                <h3>Hulk M. Kenbon</h3>
                                <h6>neurologist</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-box text-center mb-60">
                            <div class="team-thumb mb-45 pos-rel">
                                <img src="img/team/member4.png" alt="">
                                <a class="team-link" href="doctor-details.html">+</a>
                            </div>
                            <div class="team-content">
                                <h3>Haliam Z. Dicolaz</h3>
                                <h6>Consultant</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-box text-center mb-60">
                            <div class="team-thumb mb-45 pos-rel">
                                <img src="img/team/member5.png" alt="">
                                <a class="team-link" href="doctor-details.html">+</a>
                            </div>
                            <div class="team-content">
                                <h3>Nicolas D. Case</h3>
                                <h6>dentist</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-box text-center mb-60">
                            <div class="team-thumb mb-45 pos-rel">
                                <img src="img/team/member6.png" alt="">
                                <a class="team-link" href="doctor-details.html">+</a>
                            </div>
                            <div class="team-content">
                                <h3>Phumdon H. Norman</h3>
                                <h6>neurologist</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <style>
            /* Add this CSS to your existing styles */
            .col-xl-4.col-lg-4.col-md-6 {
              opacity: 0;
              transform: translateX(50px);
              transition: opacity 2s, transform 2s;
            }
        
            .col-xl-4.col-lg-4.col-md-6.visible {
              opacity: 1;
              transform: translateX(0);
            }
          </style>
        
          <!-- Your existing HTML code -->
        
          <script>
            document.addEventListener('DOMContentLoaded', function () {
              // Get all team box containers
              const teamBoxes = document.querySelectorAll('.col-xl-4.col-lg-4.col-md-6');
        
              // Function to handle the animation
              function handleAnimation() {
                teamBoxes.forEach((box, index) => {
                  const boxTop = box.getBoundingClientRect().top;
                  const windowHeight = window.innerHeight;
        
                  // Check if the box is in the viewport
                  if (boxTop < windowHeight) {
                    // Introduce a delay based on the index
                    setTimeout(() => {
                      box.classList.add('visible');
                    }, index * 200); // Adjust the delay (in milliseconds) as needed
                  }
                });
              }
        
              // Add scroll event listener to trigger the animation
              document.addEventListener('scroll', handleAnimation);
        
              // Initial check in case boxes are already in the viewport
              handleAnimation();
            });
          </script>
        <!-- team-area end -->
        <!-- fact-area start -->
        <section class="fact-area fact-map primary-bg pos-rel pt-115 pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-10">
                        <div class="section-title pos-rel mb-45">
                            <div class="section-text section-text-white pos-rel">
                                <h5>We are available 24/7</h5>
                                <h1 class="white-color">We Always Ready For A Challenge.</h1>
                            </div>
                        </div>
                        <div class="section-button section-button-left mb-30">
                            <a data-animation="fadeInLeft" data-delay=".6s" href="appoinment.html" class="btn btn-icon ml-0"><span>+</span>Make Appointment</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-lg-6 col-md-8">
                        <div class="cta-satisfied">
                            <div class="single-satisfied mb-50">
                                <h1>1M+</h1>
                                <h5> <i class="fas fa-user"></i> Satisfied Patients</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua.</p>
                            </div>
                            <div class="single-satisfied mb-50">
                                <h1>100+</h1>
                                <h5><i class="far fa-thumbs-up"></i> World Awards</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="photogallery pt-130 pb-180">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="about-title mb-65">
                            <h5 class="pink-color">Photo Gallery</h5>
                            <h1>Let’s See Latest Photo Album</h1>
                        </div>
                    </div>
                </div>
                <div class="row h4gallery-active">
                    <div class="col-lg-6">
                        <div class="gallery-box pos-rel">
                            <img src="img/home4/gallery/gallery__thumb.jpg" alt="">
                            <div class="gallery-content">
                                <h2 class="f-600 theme-color">Our Hospitality</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="gallery-box pos-rel">
                            <img src="img/home4/gallery/gallery__thumb2.jpg" alt="">
                            <div class="gallery-content">
                                <h2 class="f-600 theme-color">Trusted Partner</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="gallery-box pos-rel">
                            <img src="img/home4/gallery/gallery__thumb2.jpg" alt="">
                            <div class="gallery-content">
                                <h2 class="f-600 theme-color">Trusted Partner</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="fact gray-bg">
            <div class="container-fluid p-0">
                <div class="row no-gutters d-flex align-items-center">
                    <div class="col-xl-5">
                        <div class="h6fact-wrapper pt-30">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="h4facts-single border-facts text-center mb-30">
                                        <i class="h4facts-icon h4facts-iconpink"><img src="img/home4/fact/icon1.png" alt=""></i>
                                        <span class="counter f-600 pink-color">3624</span>
                                        <h5 class="f-500 theme-color">Medical Branch</h5>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="h4facts-single box-shadow text-center mb-30">
                                        <i class="h4facts-icon h4facts-icongreen"><img src="img/home4/fact/icon2.png" alt=""></i>
                                        <span class="counter f-600 green-color">1230</span>
                                        <h5 class="f-500 theme-color">MBBS Doctors</h5>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="h4facts-single box-shadow text-center mb-30">
                                        <i class="h4facts-icon h4facts-icongreen"><img src="img/home4/fact/icon3.png" alt=""></i>
                                        <span class="counter f-600 green-color">7620</span>
                                        <h5 class="f-500 theme-color">Local Partners</h5>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="h4facts-single border-facts text-center mb-30">
                                        <i class="h4facts-icon h4facts-iconpink"><img src="img/home4/fact/icon4.png" alt=""></i>
                                        <span class="counter f-600 pink-color">2430</span>
                                        <h5 class="f-500 theme-color">Experience Nurse</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7">
                        <div class="h4facts-thumbbox pos-rel text-right">
                            <div class="h4facts-thumb">
                                <img src="img/home4/fact/facti_right_thumb.jpg" alt="">
                                <a href="https://www.youtube.com/watch?v=WE1fSnXtXDs" class="h4facts-playicon popup-video"><i><img src="img/home4/fact/play-icon.png" alt=""></i></a>
                                <i class="h4facts-brandicon"><img src="img/home4/fact/brand__logo__icon.png" alt=""></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="testimonials pt-150 pb-80" data-background="img/home4/bg/testimonials-bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 offset-xl-5 h4testi-col">
                        <div class="row">
                            <div class="col-md-6 testimonials">
                                <div class="h4testimonials-wrapper white-bg pos-rel">
                                    <span class="h4testi-iconquato"><i class="fal fa-quote-right"></i></span>
                                    <div class="h4testimonials-ratings">
                                        <ul class="list-inline">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="h4testimonials-content mb-20">
                                        <p>Lorem ipsum dolor sit amet, coning
                                        ctetur adipisicing elit, sed do it on
                                        eiusmod tempor incididunt me
                                        ut labore et dolore.</p>
                                    </div>
                                    <div class="h4testimonials-author d-flex align-items-center">
                                        <div class="h4testimonials--author__icon">
                                            <img src="img/home4/testimonials/author-icon1.png" alt="">
                                        </div>
                                        <div class="h4testimonials--author__info">
                                            <h5 class="f-600 theme-color">Hiliam D. Pawlu</h5>
                                            <span class="f-500 pink-color">Founder, TrashTheme</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="h4testimonials-wrapper white-bg pos-rel">
                                    <span class="h4testi-iconquato"><i class="fal fa-quote-right"></i></span>
                                    <div class="h4testimonials-ratings">
                                        <ul class="list-inline">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="h4testimonials-content mb-20">
                                        <p>Lorem ipsum dolor sit amet, coning
                                        ctetur adipisicing elit, sed do it on
                                        eiusmod tempor incididunt me
                                        ut labore et dolore.</p>
                                    </div>
                                    <div class="h4testimonials-author d-flex align-items-center">
                                        <div class="h4testimonials--author__icon">
                                            <img src="img/home4/testimonials/author-icon2.png" alt="">
                                        </div>
                                        <div class="h4testimonials--author__info">
                                            <h5 class="f-600 theme-color">Eric Z. Piedie</h5>
                                            <span class="f-500 pink-color">Founder, TrashTheme</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 testimonials">
                                <div class="h4testimonials-wrapper white-bg pos-rel">
                                    <span class="h4testi-iconquato"><i class="fal fa-quote-right"></i></span>
                                    <div class="h4testimonials-ratings">
                                        <ul class="list-inline">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="h4testimonials-content mb-20">
                                        <p>Lorem ipsum dolor sit amet, coning
                                        ctetur adipisicing elit, sed do it on
                                        eiusmod tempor incididunt me
                                        ut labore et dolore.</p>
                                    </div>
                                    <div class="h4testimonials-author d-flex align-items-center">
                                        <div class="h4testimonials--author__icon">
                                            <img src="img/home4/testimonials/author-icon2.png" alt="">
                                        </div>
                                        <div class="h4testimonials--author__info">
                                            <h5 class="f-600 theme-color">Eric Z. Piedie</h5>
                                            <span class="f-500 pink-color">Founder, TrashTheme</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 testimonials">
                                <div class="h4testimonials-wrapper white-bg pos-rel">
                                    <span class="h4testi-iconquato"><i class="fal fa-quote-right"></i></span>
                                    <div class="h4testimonials-ratings">
                                        <ul class="list-inline">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="h4testimonials-content mb-20">
                                        <p>Lorem ipsum dolor sit amet, coning
                                        ctetur adipisicing elit, sed do it on
                                        eiusmod tempor incididunt me
                                        ut labore et dolore.</p>
                                    </div>
                                    <div class="h4testimonials-author d-flex align-items-center">
                                        <div class="h4testimonials--author__icon">
                                            <img src="img/home4/testimonials/author-icon2.png" alt="">
                                        </div>
                                        <div class="h4testimonials--author__info">
                                            <h5 class="f-600 theme-color">Eric Z. Piedie</h5>
                                            <span class="f-500 pink-color">Founder, TrashTheme</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       

        <section class="cta-area pos-rel pt-115 pb-120" data-background="img/slider/slider-bg-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1 col-md-12">
                        <div class="cta-text text-center">
                            <div class="section-title pos-rel mb-50">
                                <div class="section-text section-text-white pos-rel">
                                    <h5>Stay healthy & strong to enjoy life</h5>
                                    <h1 class="white-color">Trust Us To Be There To Help All & Make Things Well Again.</h1>
                                </div>
                            </div>
                            <div class="section-button section-button-left">
                                <a data-animation="fadeInLeft" data-delay=".6s" href="appoinment.html" class="btn btn-icon btn-icon-green ml-0"><span>+</span>get a consultant</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <style>
            /* Add this CSS to your existing styles */
            .testimonials {
                opacity: 0;
                transform: translateX(-100%);
                transition: opacity 2s, transform 2s;
            }
        
            .testimonials.visible {
                opacity: 1;
    transform: translateX(0);
            }
          </style>
        </head>
        <body>
        
          <!-- Your existing HTML code -->
        
          <script>
            document.addEventListener('DOMContentLoaded', function () {
              // Get all testimonial containers
              const testimonials = document.querySelectorAll('.testimonials');
        
              // Function to handle the animation
              function handleAnimation() {
                testimonials.forEach((testimonial, index) => {
                  const testimonialTop = testimonial.getBoundingClientRect().top;
                  const windowHeight = window.innerHeight;
        
                  // Check if the testimonial is in the viewport
                  if (testimonialTop < windowHeight) {
                    // Introduce a delay based on the index
                    setTimeout(() => {
                      testimonial.classList.add('visible');
                    }, index * 200); // Adjust the delay (in milliseconds) as needed
                  }
                });
              }
        
              // Add scroll event listener to trigger the animation
              document.addEventListener('scroll', handleAnimation);
        
              // Initial check in case testimonials are already in the viewport
              handleAnimation();
            });
          </script>


        <footer>
            <div class="footer-top primary-bg pt-115 pb-90">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6 col-md-8">
                            <div class="footer-contact-info mb-30">
                                <div class="emmergency-call fix">
                                    <div class="emmergency-call-icon f-left">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="emmergency-call-text f-left">
                                        <h6>Emergency number</h6>
                                        <span>+919044304604</span>
                                    </div>
                                </div>
                                <div class="footer-logo mb-35">
                                    <a href=""><img src="img/logo/footer-logo.png" alt=""></a>
                                </div>
                                <div class="footer-contact-content mb-25">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
                                </div>
                                <div class="footer-emailing">
                                    <ul>
                                        <li><i class="far fa-envelope"></i><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="3851565e57785d40595548545d555d5c515b5954165b5755">[email&#160;protected]</a></li>
                                        <li><i class="far fa-clone"></i>examplemedical.com</li>
                                        <li><i class="far fa-flag"></i>318,Vijay Laxmi Nagar,Near Punjabi Dharmashala,Sitapur</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 offset-xl-1 col-lg-3 col-md-4">
                            <div class="footer-widget mb-30">
                                <div class="footer-title">
                                    <h3>Departments</h3>
                                </div>
                                <div class="footer-menu">
                                    <ul>
                                        <li><a href="#">Surgery and Radiology</a></li>
                                        <li><a href="#">Family Medicine</a></li>
                                        <li><a href="#">Women’s Health</a></li>
                                        <li><a href="#">Optician</a></li>
                                        <li><a href="#">Pediatrics</a></li>
                                        <li><a href="#">Dermatology</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 offset-xl-1 col-lg-3 d-md-none d-lg-block">
                            <div class="footer-widget mb-30">
                                <div class="footer-title">
                                    <h3>Quick Links</h3>
                                </div>
                                <div class="footer-menu">
                                    <ul>
                                        <li><a href="#">Departments</a></li>
                                        <li><a href="#">Our Doctors</a></li>
                                        <li><a href="#">News</a></li>
                                        <li><a href="#">Shop</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                        <li><a href="#">Book an Appointment</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom pt-25 pb-20">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="footer-copyright text-center">
                                <p class="white-color">Copyright by@ BasicTheme - 2019</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <!-- JS here -->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="{{url_for('static',filename='js/modernizr-3.5.0.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery-1.12.4.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/owl.carousel.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/isotope.pkgd.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/one-page-nav-min.js')}}"></script>
    <script src="{{url_for('static',filename='js/slick.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/ajax-form.js')}}"></script>
    <script src="{{url_for('static',filename='js/wow.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.nice-select.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.scrollUp.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.meanmenu.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.counterup.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/waypoints.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/imagesloaded.pkgd.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/plugins.js')}}"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
</body>

</html>
