
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MediDove - Medical and Health HTML5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <!-- Place favicon.png in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/animate.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/nice-select.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/meanmenu.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/slick.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/default.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/responsive.css')}}">
</head>

<body>

    <!-- header begin -->
    <header>

        <!-- menu-area -->
        <div class="header-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-5 d-flex align-items-center">
                        <div class="logo logo-circle pos-rel">
                            <a href="index.html"><img src="img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9">
                        
                        <div class="header__menu f-right">
                            <nav id="mobile-menu">
                                <ul>
                                    <ul>
                                        <li><a href="{{url_for('Home')}}">Home</a> </li>
                                        <li><a href="{{url_for('about')}}">About</a></li>
                                        <li><a href="{{url_for('services')}}">Services</a></li>
                                        <li><a href="{{url_for('gallery')}}">Gallery</a></li>
                                        <li><a href="{{url_for('contact')}}">Contact Us</a> </li>
                                    </ul>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->

    <main>
        <!-- hero-area start -->
        <section class="breadcrumb-bg pt-200 pb-180" data-background="img/page/page-bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9">
                        <div class="page-title">
                            <p class="small-text pb-15">We are here for your care.</p>
                            <h1>Our Services</h1>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 d-flex justify-content-start justify-content-md-end align-items-center">
                        <div class="page-breadcumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb ">
                                    <li class="breadcrumb-item">
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Details</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- hero-area end -->
        <!-- service-details-area start -->
        <div class="service-details-area pt-120 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-8">
                        <article class="service-details-box">
                            <div class="service-details-thumb mb-80">
                                <img class="img" src="img/services/service-details-thumb1.jpg" alt="">
                            </div>
                            <div class="section-title pos-rel mb-45">
                                <div class="section-icon">
                                    <img class="section-back-icon back-icon-left" src="img/section/section-back-icon-sky.png" alt="">
                                </div>
                                <div class="section-text pos-rel">
                                    <h5 class="green-color text-up-case">Dental Care</h5>
                                    <h1>We are here to help when you need us.</h1>
                                </div>
                                <div class="section-line pos-rel">
                                    <img src="img/shape/section-title-line.png" alt="">
                                </div>
                            </div>
                            <div class="service-details-text mb-30">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
                                unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                                voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
                                nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                                numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
                                unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                            </div>
                            <div class="service-details-feature fix mb-35">
                                <div class="ser-fea-box f-left">
                                    <div class="ser-fea-icon f-left">
                                        <img src="img/services/ser-fea-icon-1.png" alt="">
                                    </div>
                                    <div class="ser-fea-list fix">
                                        <h3>Personal care</h3>
                                        <ul>
                                            <li><i class="fas fa-check"></i>Cillum dolore eu fugiat nulla.</li>
                                            <li><i class="fas fa-check"></i>Lorem ipsum dolor sit amet.</li>
                                            <li><i class="fas fa-check"></i>Consectetur adipisicing elit,</li>
                                            <li><i class="fas fa-check"></i>Sed do eiusmod tempor inci.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ser-fea-box f-left mr-0">
                                    <div class="ser-fea-icon f-left">
                                        <img src="img/services/ser-fea-icon-2.png" alt="">
                                    </div>
                                    <div class="ser-fea-list fix">
                                        <h3>Lifestyle support</h3>
                                        <ul>
                                            <li><i class="fas fa-check"></i>Didunt ut labore et dolore magna.</li>
                                            <li><i class="fas fa-check"></i>Aliqua. Ut enim ad minim veniam.</li>
                                            <li><i class="fas fa-check"></i>Quis nostrud exercitation ullamco.</li>
                                            <li><i class="fas fa-check"></i>Laboris nisi ut aliquip ex ea.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="service-chart mb-55">
                                <img src="img/services/service-chart.jpg" alt="">
                            </div>
                            <div class="service-doctors mb-55">
                                <img src="img/services/service-doctors.png" alt="">
                            </div>
                            <div class="section-title pos-rel mb-50">
                                <div class="section-text pos-rel">
                                    <h5 class="green-color text-up-case">download</h5>
                                    <h1>Free Download Resources</h1>
                                </div>
                                <div class="section-line pos-rel">
                                    <img src="img/shape/section-title-line.png" alt="">
                                </div>
                            </div>
                            <style>
                                .download-box {
                                  opacity: 0;
                                  transform: translateX(100%);
                                  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
                                }
                              
                                .download-box.visible {
                                  opacity: 1;
                                  transform: translateX(0);
                                }
                              </style>
                              <script>
                                document.addEventListener('DOMContentLoaded', function () {
                                  var downloadBoxes = document.querySelectorAll('.download-box');
                              
                                  window.addEventListener('scroll', function () {
                                    var viewportHeight = window.innerHeight;
                              
                                    downloadBoxes.forEach(function (box) {
                                      var boxTop = box.getBoundingClientRect().top;
                              
                                      if (boxTop < viewportHeight && boxTop > 0) {
                                        box.classList.add('visible');
                                      }
                                    });
                                  });
                                });
                              </script>
                                                            
                            <div class="download-area">
                                <a class="download-box mb-20" href="#">
                                    <div class="single-download-inner">
                                        <img src="img/icon/pdf.png" alt="">
                                        <span>The Balanced Care Method Flyer.pdf</span>
                                        <span class="download-size">57KB</span>
                                    </div>
                                </a>
                                <a class="download-box mb-20" href="#">
                                    <div class="single-download-inner">
                                        <img src="img/icon/doc.png" alt="">
                                        <span>Infomation sheet 2 2016-17.doc</span>
                                        <span class="download-size">87KB</span>
                                    </div>
                                </a>
                                <a class="download-box mb-20" href="#">
                                    <div class="single-download-inner">
                                        <img src="img/icon/zip.png" alt="">
                                        <span>What_is_home_care_manual.zip</span>
                                        <span class="download-size">112KB</span>
                                    </div>
                                </a>
                            </div>
                            <div class="testi-box text-center pos-rel mb-0">
                                <div class="testi-content testi-service-content pos-rel">
                                    <div class="testi-quato-icon">
                                        <img src="img/testimonials/testi-quato-icon.png" alt="">
                                    </div>
                                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut
                                    perspiciatis unde omnis iste natus error sit voluptatem.</p>
                                    <span></span>
                                </div>
                                <div class="testi-author">
                                    <h2 class="testi-author-title">Rosalina D. Williamson</h2>
                                    <span class="testi-author-desination">founder, uithemes</span>
                                </div>
                                <div class="test-author-icon mb-10">
                                    <img src="img/testimonials/testi-author-icon.png" alt="">
                                </div>
                            </div>
                        </article>
                    </div>
                    <style>
                        .more-service-list li {
                          opacity: 0;
                          transition: opacity 0.8s ease-in-out;
                        }
                      
                        .more-service-list li.visible {
                          opacity: 1;
                        }
                      </style>

                      <script>
                        document.addEventListener('DOMContentLoaded', function () {
                          var listItems = document.querySelectorAll('.more-service-list li');
                      
                          setTimeout(function () {
                            listItems.forEach(function (item, index) {
                              setTimeout(function () {
                                item.classList.add('visible');
                              }, index * 300); // Adjust the delay as needed (e.g., 300 milliseconds)
                            });
                          }, 1000); // Adjust the initial delay as needed (e.g., 1000 milliseconds)
                        });
                      </script>
                      
                    <div class="col-xl-5 col-lg-4">
                        <div class="service-widget mb-50">
                            <div class="widget-title-box mb-30">
                                <h3 class="widget-title">More Services</h3>
                            </div>
                            <div class="more-service-list">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <div class="more-service-icon"><img src="img/services/more-ser-1.png" alt=""></div>
                                            <div class="more-service-title">Body Surgery</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="more-service-icon"><img src="img/services/more-ser-2.png" alt=""></div>
                                            <div class="more-service-title">Dental Care</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="more-service-icon"><img src="img/services/more-ser-3.png" alt=""></div>
                                            <div class="more-service-title">Eye Care</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="more-service-icon"><img src="img/services/more-ser-4.png" alt=""></div>
                                            <div class="more-service-title">Blood cancer</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="more-service-icon"><img src="img/services/more-ser-5.png" alt=""></div>
                                            <div class="more-service-title">Neurology Sargery</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="more-service-icon"><img src="img/services/more-ser-6.png" alt=""></div>
                                            <div class="more-service-title">Allergic Issue</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="service-widget mb-50">
                            <div class="widget-title-box mb-30">
                                <h3 class="widget-title">Get Some Advice?</h3>
                            </div>
                            <form class="service-contact-form" action="">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="contact-input contact-icon contact-user mb-20">
                                            <input type="text" placeholder="Enter your name">
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="contact-input contact-icon contact-mail mb-20">
                                            <input type="text" placeholder="Enter your email">
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="contact-input contact-icon contact-hourglass">
                                            <select name="#" id="service-option">
                                                <option value="1">Select type of care</option>
                                                <option value="2">Select type of care</option>
                                                <option value="2">Select type of care</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="ser-form-btn text-center mt-40">
                                <a data-animation="fadeInLeft" data-delay=".6s" href="#" class="btn btn-icon ml-0" style="animation-delay: 0.6s;"
                                    tabindex="0"><span>+</span>Request for call</a>
                            </div>
                        </div>
                        <div class="service-widget mb-50 border-0 p-0">
                            <div class="banner-widget">
                                <a href="#">
                                    <img src="img/services/services-banner.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- service-details-area end -->
    </main>

    <!-- footer start -->
     <footer>
        <div class="footer-top primary-bg footer-map pos-rel pt-120 pb-80">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="footer-contact-info footer-contact-info-3 mb-40">
                            <div class="footer-logo mb-35">
                                <a href="#"><img src="img/logo/footer-logo-3.png" alt=""></a>
                            </div>
                            <div class="footer-contact-content mb-25">
                                <p>We are dedicated to providing comprehensive eye care with a focus on personalized attention and cutting-edge treatments. Led by the expertise of Dr. Rahul Bhardwaj MBBS, M.S.  our team is committed to enhancing and preserving your vision through state-of-the-art technology and compassionate care.</p>
                            </div>
                            <div class="footer-emailing">
                                <ul>
                                    <li><i class="far fa-envelope"></i>sitapurnethralaya@gmail.com</li>
                                    <li><i class="far fa-clone"></i>sitapurnethralaya.com</li>
                                    <li><i class="far fa-flag"></i>318,Vijay Laxmi Nagar,Near Punjabi Dharmashala,Sitapur</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="footer-widget mb-40">
                            <div class="footer-title" style="margin-left:22%;">
                                <h3>Quick Links</h3>
                            </div>
                            <div class="footer-menu footer-menu-2" style="margin-left:10%">
                                <ul>
                                    <li><a href="index.html">Home</a> </li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="doctor.html">Doctors</a></li>
                                    <li><a href="shop.html">Gallery</a></li>
                                    <li><a href="blog.html">About Us</a></li>
                                    <li><a href="#">Contact Us</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->

    <!-- JS here -->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/vendor/modernizr-3.5.0.min.js"></script>
    
    <script src="{{url_for('static',filename='js/modernizr-3.5.0.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery-1.12.4.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/owl.carousel.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/isotope.pkgd.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/one-page-nav-min.js')}}"></script>
    <script src="{{url_for('static',filename='js/slick.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/ajax-form.js')}}"></script>
    <script src="{{url_for('static',filename='js/wow.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.nice-select.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.scrollUp.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.meanmenu.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.counterup.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/waypoints.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/imagesloaded.pkgd.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/plugins.js')}}"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
</body>

</html>
