<footer>
         <footer class="main-foooter">
   <svg class="foooter-wave-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 100" preserveAspectRatio="none">
        <path class="foooter-wave-path" d="M851.8,100c125,0,288.3-45,348.2-64V0H0v44c3.7-1,7.3-1.9,11-2.9C80.7,22,151.7,10.8,223.5,6.3C276.7,2.9,330,4,383,9.8 c52.2,5.7,103.3,16.2,153.4,32.8C623.9,71.3,726.8,100,851.8,100z"></path>
      </svg>
        <div class="container">
            <div class="foooter-content">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 foooter-column">
                        <div class="logo-widget foooter-widget">
                            <figure class="logo-box"><a href="#"><img src="https://i.ibb.co/QDy827D/ak-logo.png" alt=""></a></figure>
                            <div class="text">
                                <p>Lorem ipsum dolor amet consectetur adi pisicing elit sed eiusm tempor incididunt ut labore dolore magna aliqua enim ad minim veniam quis.nostrud exercita.laboris nisi ut aliquip ea commodo conse quatuis aute irure.</p>
                            </div>
                            <ul class="foooter-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 offset-lg-2 foooter-column">
                        <div class="serv-widget foooter-widget">
                            <div class="foooter-title">servs</div>
                            <ul class="list">
                                <li><a href="#">Water Surve</a></li>
                                <li><a href="#">Education for all</a></li>
                                <li><a href="#">Food Serving</a></li>
                                <li><a href="#">Animal Saves</a></li>
                                <li><a href="#">Help Orphan</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 foooter-widget">
                        <div class="contact-widget foooter-widget">
                            <div class="foooter-title">Contacts</div>
                            <div class="text">
                                <p>Lorem Ipsum, simply dummy text, printing, Chandigarh</p>
                                <p>+2(784) 1223323</p>
                                <p>info@example.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </foooter>
    <!-- main-foooter end -->
    <div class="foooter-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 column">
                    <div class="copyright"><a href="#">Anup</a> &copy; 2019 All Right Reserved</div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 column">
                    <ul class="foooter-nav">
                        <li><a href="#">Terms of serv</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        </footer>
          <style>
section {
    padding: 60px 0;
    min-height: 100vh;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-foooter{
  position: relative;
  background: #1e2129;
}

.foooter-content{
  position: relative;
  padding: 85px 0px 80px 0px;
}
.foooter-wave-path {
    fill: #fffff2;
}
.foooter-content:before{
  position: absolute;
  content: '';
  background: url(https://i.ibb.co/jyRLrBZ/world-map.png);
  width: 744px;
  height: 365px;
  top: 50px;
  right: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: float-bob;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: float-bob;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: float-bob;
  -moz-animation-duration: 30s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: float-bob;
  -ms-animation-duration: 30s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: float-bob;
  -o-animation-duration: 30s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}
.foooter-content .logo-widget{
  position: relative;
  margin-top: -5px;
}
.foooter-content .logo-widget .foooter-social li{
  position: relative;
  display: inline-block;
  margin-right: 9px;
}
.foooter-content .logo-widget .foooter-social li:last-child{
  margin-right: 0px;
}
.foooter-content .logo-widget .foooter-social li a{
  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  background: #2e3138;
  color: #9ea0a9;
  text-align: center;
  border-radius: 50%;
}
.foooter-content .logo-widget .foooter-social li a:hover{
  color: #ffffff;
  background: #ff5e14;
}
.foooter-content .logo-widget .logo-box{
  margin-bottom: 25px;
}
.foooter-content .logo-widget .text p{
  color: #9ea0a9;
  margin-bottom: 32px;
}
.foooter-content .foooter-title{
  position: relative;
  font-size: 24px;
  line-height: 35px;
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 27px;
}
.foooter-content .serv-widget .list li{
  display: block;
  margin-bottom: 12px;
}
.foooter-content .serv-widget .list li a{
  position: relative;
  display: inline-block;
  color: #9ea0a9;
}
.foooter-content .serv-widget .list li a:hover{
  color: #ff5e14;
}
.foooter-content .contact-widget p{
  color: #9ea0a9;
  margin-bottom: 15px;
}
.foooter-content .contact-widget{
  margin-left: 90px;
}
.foooter-content .contact-widget .foooter-title{
  margin-bottom: 29px;
}

/** foooter-bottom **/

.foooter-bottom{
  position: relative;
  background: #13151a;
  padding: 25px 0px 22px 0px;
}
.foooter-bottom .copyright,
.foooter-bottom .copyright a,
.foooter-bottom .foooter-nav li a{
  position: relative;
  color: #9ea0a9;
}
.foooter-bottom .copyright a:hover,
.foooter-bottom .foooter-nav li a:hover{
  color: #ff5e14;
}
.foooter-bottom .foooter-nav{
  position: relative;
  text-align: right;
}
.foooter-bottom .foooter-nav li{
  position: relative;
  display: inline-block;
  margin-left: 29px;
}
.foooter-bottom .foooter-nav li:first-child{
  margin-left: 0px;
}
.foooter-bottom .foooter-nav li:before{
  position: absolute;
  content: '';
  background: #9ea0a9;
  width: 1px;
  height: 14px;
  top: 7px;
  left: -18px;
}
.foooter-bottom .foooter-nav li:first-child:before{
  display: none;
}
.logo-box img {
    max-width: 220px;
}

</style>